/* Estilos de Fuentes */
h1, h2, h3, h4, h5, h6 {
    font-family: 'Grown', serif;
}

body {
    font-family: 'Montserrat', sans-serif;
}

/* Estilo para los enlaces de navegación */
.nav-link-custom {
    background-color: transparent;
    color: #007bff;
    border: 2px solid transparent;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
    padding: 5px 10px;
    border-radius: 5px;
}

.nav-link-custom:hover {
    background-color: white;
}

/* Titulo Grande y Subtitulos */
.titulo-principal {
    color: black;
}

.subtitulo {
    color: black;
    font-size: 1.5em !important; /* Asegura que este estilo se aplique */
    font-weight: bold !important; /* Asegura que también sea más grueso */
    text-align: center; /* Asegura que esté centrado */
}

/* Fondo personalizado */
.fondo-personalizado {
    background-color: rgba(13, 227, 255, 0.20); /* Cambia el 0.78 a otro valor para ajustar la transparencia */
    padding: 50px 0;
    margin-bottom: 20px; /* Añade separación entre bloques */
}

/* Ajuste de las tarjetas */
.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/* Estilos para las tarjetas */
.card {
    text-align: center;
    background-color: #d1c4e9; /* Color de fondo para las tarjetas */
    border-radius: 15px;
    box-shadow: 0 0 20px #0de3ffc7;
    transition: box-shadow 0.3s ease-in-out, transform 0.3s ease-in-out; /* Transición suave para el sombreado y el tamaño */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: calc(90% - 1px); /* Ajusta el valor para que las tarjetas sean más anchas */
    margin: 20px;
    box-sizing: border-box;
}

.card:hover {
    transform: scale(1.05); /* Aumenta el tamaño de la tarjeta */
    box-shadow: 0 0 30px #9575cd; /* Cambia el sombreado al resaltar */
}

.card-title {
    text-align: center;
    white-space: nowrap; /* Prevenir quiebre de texto */
    overflow: hidden;
    text-overflow: ellipsis;
}

.card-img-top {
    width: 100%;
    height: auto; /* Ajusta la altura automáticamente */
    max-height: 50%; /* Limita la altura máxima para las imágenes */
    object-fit: cover; /* Ajusta las imágenes sin recortarlas */
    border-radius: 50%; /* Convertir la imagen en un círculo */
    padding: 10px; /* Añadir valor a la propiedad padding */
}

/* Estilo para botones de redes sociales */
.social-icons {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.social-icons a {
    margin: 0 10px;
    color: #000;
    font-size: 24px;
}
